

body {
    background-color: black;
    color: white;
   
}

h1 a, h1 {
    color: greenyellow;
    font-family: 'Source Code Pro', monospace;
}


.page-header {
    background-color: gray;
    padding: 10px 20px 20px 40px;
    margin-top: 0;
}


.post-form textarea, .post-form input {
    width: 100%;
    color: black;
}

.date {
    float: right;
}


